# Front # ----- #
# Front # |1|2| #
# Front # |4|3| #
# Front # ----- #
#####################################################################
#   Bed Heater
#####################################################################
[heater_generic heater_bed_1]
heater_pin: PB4
sensor_type: Generic 3950
sensor_pin: PC3 #TB1
max_power: 1.0
min_temp: -273
max_temp: 120
control: pid
pid_kp: 58.437
pid_ki: 2.347
pid_kd: 100


[heater_generic heater_bed_2]
heater_pin: PB0
sensor_type: Generic 3950
sensor_pin: PF9 #TB2
max_power: 1.0
min_temp: -273
max_temp: 120
control: pid
pid_kp: 58.437
pid_ki: 2.347
pid_kd: 100


[heater_generic heater_bed_3]
heater_pin: PD13
sensor_type: Generic 3950
sensor_pin: PC2 #TB3

max_power: 1.0
min_temp: -273
max_temp: 120
control: pid
pid_kp: 58.437
pid_ki: 2.347
pid_kd: 100


[heater_generic heater_bed_4]
heater_pin: PC8
sensor_type: Generic 3950
sensor_pin: PC1 #TB4
max_power: 1.0
min_temp: -273
max_temp: 120
control: pid
pid_kp: 58.437
pid_ki: 2.347
pid_kd: 100
